html, body {
    margin: 0px;
}

.backg {
    background-image: url('https://img.freepik.com/free-vector/vector-images-forest-daytime_46176-155.jpg?w=2000');
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 5px;
    min-width: 25%;
    min-height: 32%;
    box-shadow: 21px 10px 40px -10px rgba(73,135,74,1);    
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(145,232,66,0.51) 100%);
    font-family: Calibri;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fields {
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    border-bottom: 1px solid;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

#the-button {
    margin: 0 auto;
    vertical-align: middle;
    border-radius: 111px 111px 111px 111px;
    border: 0px solid #000000;
}

