html, body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    border-width: 5px;
    min-width: 25%;
    min-height: 50%;
}